form label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

form label input {
    display: block;
    width: 25%;
}

form label .error {
    display: inline-block;
    width: 25%;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: orange;
    border: solid 1px;
    border-color: black;
    border-radius: 5px;
}

form .submitButton {
    display: block;
    padding: 5px;
    width: 25%;
    background: #258025;
    color: white;
    border-radius: 5px;
}

form .submitButton:hover {
    background: #359035;
}

input {
    padding: 10px;
    background: white;
    color: black;
    border: solid 1px;
    border-radius: 5px;
    border-color: black;
}